<!-- andrew -->
<section class="products">
  <div class="container">
    <div class="sign-section products__sign-section
  ">
      <p>100% natural</p>
      <h2>products</h2>
    </div>
    <ul class="products__list">

      <li class="products__item product-card">
        <img src="/src/img/products-1.png" alt="" class="product-card__img" />
        <h3 class="product-card__title">ice cream</h3>
        <img src="/src/img/light-ellipsis.png" alt="" class="product-card__ellipsis">
        <p class="product-card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et. dolore magna aliqua facilisis.
        </p>
        <a href="#" class="product-card__link">
          <img src="/src/img/arrow-right.jpg" alt="" class="product-card__right-arrow">
        </a>
      </li>

      <li class="products__item product-card">
        <img src="/src/img/products-2.png" alt="" class="product-card__img" />
        <h3 class="product-card__title">ice coffee</h3>
        <img src="/src/img/light-ellipsis.png" alt="" class="product-card__ellipsis">
        <p class="product-card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et. dolore magna aliqua facilisis.
        </p>
        <a href="#" class="product-card__link">
          <img src="/src/img/arrow-right.jpg" alt="" class="product-card__right-arrow">
        </a>
      </li>

      <li class="products__item product-card">
        <img src="/src/img/products-3.png" alt="" class="product-card__img" />
        <h3 class="product-card__title">milkshakes</h3>
        <img src="/src/img/light-ellipsis.png" alt="" class="product-card__ellipsis">
        <p class="product-card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et. dolore magna aliqua facilisis.
        </p>
        <a href="#" class="product-card__link">
          <img src="/src/img/arrow-right.jpg" alt="" class="product-card__right-arrow">
        </a>
      </li>
    </ul>
  </div>
</section>