<!-- andrew -->
<section id="products" class="products">
  <div class="container products__container">
    <div class="sign-section products__sign-section">
      <p>100% natural</p>
      <h2>products</h2>
    </div>
    <ul class="products__list">
      <li class="products__item products__item--secondary-color product-card">
        <picture>
          <source media="(min-width: 1200px)" srcset="./img/desktop/products-1.png" />
          <source media="(min-width: 320px)" srcset="./img/common/products-1.png" />
          <img src="./img/common/products-2.png" alt="Icecream" class="product-card__img" />
        </picture>

        <h3 class="product-card__title">ice cream</h3>
        <div class="product-card__ellipsis">
          <span class="product-card__ellips"></span>
          <span class="product-card__ellips"></span>
          <span class="product-card__ellips"></span>
        </div>
        <p class="product-card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <a href="#" class="product-card__link">
          <svg class="product-card__right-arrow" width="16px" height="16px">
            <use href="./img/svg/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>

      <li class="products__item products__item--cream-color product-card">
        <picture>
          <source media="(min-width: 1200px)" srcset="./img/desktop/products-2.png" />
          <source media="(min-width: 320px)" srcset="./img/common/products-2.png" />
          <img src="./img/common/products-2.png" alt="Cocktail" class="product-card__img" />
        </picture>

        <h3 class="product-card__title">ice coffee</h3>
        <div class="product-card__ellipsis">
          <span class="product-card__ellips"></span>
          <span class="product-card__ellips"></span>
          <span class="product-card__ellips"></span>
        </div>
        <p class="product-card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <a href="#" class="product-card__link">
          <svg class="product-card__right-arrow" width="16px" height="16px">
            <use href="./img/svg/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>

      <li class="products__item products__item--green-color product-card">
        <picture>
          <source media="(min-width: 1200px)" srcset="./img/desktop/products-3.png" />
          <source media="(min-width: 320px)" srcset="./img/common/products-3.png" />
          <img src="./img/common/products-2.png" alt="Cake" class="product-card__img" />
        </picture>

        <h3 class="product-card__title">milkshakes</h3>
        <div class="product-card__ellipsis">
          <span class="product-card__ellips"></span>
          <span class="product-card__ellips"></span>
          <span class="product-card__ellips"></span>
        </div>
        <p class="product-card__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <a href="#" class="product-card__link">
          <svg class="product-card__right-arrow" width="16px" height="16px">
            <use href="./img/svg/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
