<!-- andrew -->
<section class="products">
  <p class="products__sign sign">100% natural</p>
  <h2 class="products__title title">products</h2>
  <ul class="products__list">
    <li class="products__item product-card">
      <img src="#" alt="" class="product-card__img" />
      <h3 class="product-card__title">ice cream</h3>
      <div class="product-card__ellipsis">...</div>
      <p class="product-card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a href="#" class="product-card__link">
        <svg class="product-card__right-arrow">
          <use></use>
        </svg>
      </a>
    </li>

    <li class="products__item product-card">
      <img src="#" alt="" class="product-card__img" />
      <h3 class="product-card__title">ice coffee</h3>
      <div class="product-card__ellipsis">...</div>
      <p class="product-card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a href="#" class="product-card__link">
        <svg class="product-card__right-arrow">
          <use></use>
        </svg>
      </a>
    </li>

    <li class="products__item product-card">
      <img src="#" alt="" class="product-card__img" />
      <h3 class="product-card__title">milkshakes</h3>
      <div class="product-card__ellipsis">...</div>
      <p class="product-card__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et. dolore magna aliqua facilisis.
      </p>
      <a href="#" class="product-card__link">
        <svg class="product-card__right-arrow">
          <use></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
