.products {
	padding-bottom: 98px;
	padding-top: 121px;

	@media screen and (min-width: $tablet-size) and (max-width: $desktop-size) {
		padding-bottom: 112px;
	}
	@media screen and (min-width: $desktop-size) {
		padding-top: 127px;
		padding-bottom: 119px;
	}

	&__sign-section {
		margin-bottom: 144px;
		@media screen and (min-width: $tablet-size) and (max-width: $desktop-size) {
			margin-bottom: 150px;
		}
		@media screen and (min-width: $desktop-size) {
			margin-bottom: 259px;
		}
	}

	&__list {
		@media screen and (min-width: $tablet-size) and (max-width: $desktop-size) {
			display: flex;
			gap: 20px;
		}
		@media screen and (min-width: $desktop-size) {
			display: flex;
			gap: 25px;
		}
	}

	&__item {
		&--secondary-color {
			background-color: $secondary-color;
		}
		&--cream-color {
			background-color: $cream-background-color;
		}
		&--green-color {
			background-color: $green-background-color;
		}

		&:not(:last-child) {
			margin-bottom: 130px;
			@media screen and (min-width: $tablet-size) {
				margin-bottom: 0px;
			}
		}
	}
}
