<!-- kate -->
<section>
  <button
    type="button"
    class="button__menu button__menu--close"
    aria-expanded="false"
    aria-controls="menu-container"
    data-menu-button-close
  ></button>
  <!-- TODO: Вставить в кнопу СВГ картинку закрытия из спрайта -->
  <button type="button" class="button__form">Buy now</button>
  <!-- TODO: Вставить СВГ стрелочку -->
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="" class="nav__link">Home</a></li>
      <li class="nav__item"><a href="" class="nav__link">About us</a></li>
      <li class="nav__item"><a href="" class="nav__link">How it's made?</a></li>
      <li class="nav__item"><a href="" class="nav__link">Our products</a></li>
      <li class="nav__item"><a href="" class="nav__link">Contact</a></li>
    </ul>
    <!-- TODO: Прописать в ссылках названия для якорей -->
  </nav>
</section>
