<!-- kate -->
<section id="mobile-menu" class="mobile-menu" data-menu>
  <div class="mobile-menu__close">
    <button
      type="button"
      class="button-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      data-menu-button-close
    >
      <svg width="14" height="14" aria-label="Mobile menu close-button">
        <use class="button__menu--close" href="./img/svg/symbol-defs.svg#close"></use>
      </svg>
    </button>
  </div>

  <button type="button" class="button button__form button__form--menu">Buy now</button>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item"><a href="#home" class="nav__link" data-default-focus>Home</a></li>
      <li class="nav__item"><a href="#products" class="nav__link">Our products</a></li>
      <li class="nav__item"><a href="#made" class="nav__link">How it's made?</a></li>
      <li class="nav__item"><a href="#about" class="nav__link">About us</a></li>
      <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
    </ul>
  </nav>
</section>
