<!-- kate -->
<section id="home" class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      ice cream <br />
      made with <br />
      <span class="hero__title--part">passion</span>
    </h1>
    <ul class="hero__nav-list">
      <li class="hero__nav-item">
        <a href="#made" class="hero__anchor hero__anchor--pink">Products</a>
      </li>
      <li class="hero__nav-item"><a href="#products" class="hero__anchor">How it's made?</a></li>
    </ul>

    <div class="description">
      <p class="description__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="">
        <svg><use></use></svg>
      </button>
    </div>
  </div>

  <div class="container hero__info">
    <ul class="hero__info-list">
      <li class="hero__info-item">
        <h2 class="hero__info-title">16</h2>
        <p class="hero__info-text">cafes</p>
      </li>
      <li class="hero__info-item">
        <h2 class="hero__info-title">23</h2>
        <p class="hero__info-text">food trucks</p>
      </li>
    </ul>
  </div>
</section>
