<section class="reviews">
  <div class="container reviews__container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper reviews__wrapper">
        <div class="swiper-slide reviews__slide">
          <img src="./img/reviews__avatar.jpg" width="85px" alt="" class="reviews__avatar" />
          <p class="reviews__comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <div class="reviews__ellipsis">
            <span class="reviews__ellips"></span>
            <span class="reviews__ellips"></span>
            <span class="reviews__ellips"></span>
          </div>
          <p class="reviews__address">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide reviews__slide">
          <img src="./img/reviews__avatar.jpg" width="85px" alt="" class="reviews__avatar" />
          <p class="reviews__comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <div class="reviews__ellipsis">
            <span class="reviews__ellips"></span>
            <span class="reviews__ellips"></span>
            <span class="reviews__ellips"></span>
          </div>
          <p class="reviews__address">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide reviews__slide">
          <img src="./img/reviews__avatar.jpg" width="85px" alt="" class="reviews__avatar" />
          <p class="reviews__comment">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <div class="reviews__ellipsis">
            <span class="reviews__ellips"></span>
            <span class="reviews__ellips"></span>
            <span class="reviews__ellips"></span>
          </div>
          <p class="reviews__address">Emily, Los Angeles</p>
        </div>
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
