<!-- andrew -->
<section class="reviews">
  <h2 class="visually-hidden">Reviews</h2>

  <div class="reviews__slide">
    <img src="#" alt="" class="reviews-avatar" />
    <p class="reviews__comment">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    <div class="reviews__ellipsis">...</div>
    <p class="rewiews__address">Emily, Los Angeles</p>
  </div>

  <div class="reviews__slide">
    <img src="#" alt="" class="reviews-avatar" />
    <p class="reviews__comment">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    <div class="reviews__ellipsis">...</div>
    <p class="rewiews__address">Emily, Los Angeles</p>
  </div>

  <div class="reviews__slide">
    <img src="#" alt="" class="reviews-avatar" />
    <p class="reviews__comment">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
      nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
    </p>
    <div class="reviews__ellipsis">...</div>
    <p class="rewiews__address">Emily, Los Angeles</p>
  </div>

  <a class="reviews__prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="reviews__next" onclick="plusSlides(1)">&#10095;</a>

  <div class="reviews__dots dots">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

  <!-- https://www.w3schools.com/howto/howto_js_slideshow.asp -->
</section>
