.logo {
  font-family: $font-primary;
  font-size: 28px;
  line-height: 1.04;
  text-decoration: none;
  text-transform: uppercase;
  color: $main-color;

  display: flex;
  align-items: center;
  gap: 20px;
}

.top-part {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $tablet-size) {
    padding-top: 35px;
    padding-bottom: 15px;
  }
}

.hero-menu {
  display: flex;

  @media screen and (min-width: $tablet-size) {
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}

.button__menu {
  background-color: transparent;
}

@media screen and (max-width: $mobile-size-block) {
  .button__form--hero {
    display: none;
  }
}

@media screen and (min-width: $tablet-size) {
  .button__form--hero {
    gap: 12px;
  }
}
