<!-- kate -->
<section class="top-part">
  <div class="container">
    <a href="./index.html" class="logo">
      <svg width="50" height="50" aria-label="Company logo" class="logo__icon">
        <use href="./img/sprite.svg#logo"></use>
      </svg>
      icecream</a
    >

    <button
      type="button"
      class="button__menu"
      aria-expanded="true"
      aria-controls="menu-container"
      data-menu-button-open
    >
      <svg width="20" height="12" aria-label="Mobile menu switcher">
        <use class="button__menu--open" href="./img/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
</section>
