<!-- kate -->
<section class="top-part">
  <div class="container">
    <a href="./index.html" class="logo">
      <img src="/src/img/ice-cream-logo.png" width="50" alt="company logo" class="logo__icon" />
      icecream</a
    >
    <button
      type="button"
      class="button__menu"
      aria-expanded="false"
      aria-controls="menu-container"
      data-menu-button-open
    >
      <svg width="20" height="12" aria-label="Перемикач мобільного меню">
        <use class="button__menu--open" href="./img/sprite.svg#menu"></use>
      </svg>
    </button>
    <!-- TODO: Вставить скрипт для запуска кнопки меню -->
  </div>
</section>
