<!-- kate -->
<section class="top-part">
  <a href="./index.html" class="logo">
    <svg width="50" height="50" aria-label="Company logo" class="logo__icon">
      <use href="./img/svg/symbol-defs.svg#logo"></use>
    </svg>
    icecream
  </a>

  <div class="top-part__menu">
    <nav class="top-part__nav">
      <ul class="top-part__list">
        <li class="top-part__item">
          <a href="#home" class="top-part__link top-part__link--active">Home</a>
        </li>
        <li class="top-part__item"><a href="#products" class="top-part__link">Our products</a></li>
        <li class="top-part__item"><a href="#made" class="top-part__link">How it's made?</a></li>
        <li class="top-part__item"><a href="#about" class="top-part__link">About us</a></li>
        <li class="top-part__item"><a href="#contact" class="top-part__link">Contact</a></li>
      </ul>
    </nav>
  </div>

  <div class="hero-menu">
    <button
      type="button"
      class="button-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      data-menu-button-open
    >
      <svg width="20" height="12" aria-label="Mobile menu switcher">
        <use class="button__menu--open" href="./img/svg/symbol-defs.svg#menu"></use>
      </svg>
    </button>

    <button type="button" class="button button__form button__form--hero">Buy now</button>
  </div>
</section>
