.tradition {
  background-color: $light-background-color;
  padding-top: 125px;
  padding-bottom: 40px;
  background-image: url(./img/bg-cow.png);
  background-repeat: no-repeat;
  background-position: top 270 left 0;

  &__title {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 4%;
    text-align: center;
    color: $main-color;
    text-transform: uppercase;
    margin-bottom: 350px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    color: $secondary-color;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 40px;

    &--gray {
      color: $grey-text-color;
      margin-bottom: 20px;
    }
  }

  & .button {
    margin-top: 25px;
  }

  @media screen and (min-width: $tablet-size) {
    padding-top: 130px;
    padding-bottom: 66px;
    background-image: url(./img/tablet/bg-cow.png);
    background-position: top 280 left 20;

    &__text-container {
      margin-left: 360px;
    }

    &__title {
      font-size: 48px;

      margin-bottom: 100px;
    }

    &__subtitle {
      font-size: 26px;
      line-height: 1.15;
    }

    &__text {
      font-size: 14px;
      line-height: 1.76;
    }

    & .button {
      margin-top: 60px;
    }
  }
}
