.tradition {
  background-color: $light-background-color;
  padding-top: 125px;
  padding-bottom: 40px;

  &__title {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 4%;
    text-align: center;
    color: $main-color;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__subtitle {
    font-family: $font-primary;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    color: $secondary-color;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__img {
    display: inline-block;
    margin-bottom: 45px;
  }

  &__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 40px;

    &--gray {
      color: $grey-text-color;
      margin-bottom: 20px;
    }
  }

  & .button {
    margin-top: 25px;
  }

  @media screen and (min-width: $tablet-size) {
    padding-top: 130px;
    padding-bottom: 65px;

    &__img {
      margin-bottom: 0;
    }

    &__content-container {
      display: flex;
      gap: 17px;
    }

    &__text-container {
      width: 340px;
      margin-top: 50px;
    }

    &__title {
      font-size: 48px;
      margin-bottom: 50px;
    }

    &__subtitle {
      font-size: 26px;
      line-height: 1.15;
    }

    &__text {
      font-size: 14px;
      line-height: 1.76;
    }

    & .button {
      margin-top: 60px;
    }
  }

  @media screen and (min-width: $desktop-size) {
    padding-top: 125px;
    padding-bottom: 40px;

    background-image: url(./img/desktop/tradition-bg.png);
    background-position: bottom 0 center;
    background-repeat: no-repeat;
    background-size: contain;

    &__content-container {
      gap: 75px;
    }

    &__text-container {
      width: 463px;
    }

    &__title {
      font-size: 58px;
      margin-bottom: 55px;
    }

    &__subtitle {
      font-size: 30px;
      line-height: 1.13;
    }

    &__text {
      line-height: 1.94;

      &--black {
        font-size: 16px;
        line-height: 1.76;
      }
    }

    & .button {
      margin-top: 45px;
    }
  }
}
