.tradition {
  background-color: $light-background-color;
  padding-top: 125px;

  & .container {
    background-image: url(./img/bg-cow.png);
    background-repeat: no-repeat;
    background-position: top 140 center;
    padding-bottom: 40px;
  }

  &__title {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 4%;
    text-align: center;
    color: $main-color;
    text-transform: uppercase;
    margin-bottom: 350px;
  }

  &__subtitle {
    font-family: $font-primary;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    color: $secondary-color;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 40px;

    &--gray {
      color: $grey-text-color;
      margin-bottom: 20px;
    }
  }

  & .button {
    margin-top: 25px;
  }

  @media screen and (min-width: $tablet-size) {
    padding-top: 130px;

    & .container {
      background-image: url(./img/tablet/bg-cow.png);
      background-position: top 150 left 20;
      padding-bottom: 65px;
    }

    &__text-container {
      margin-left: 360px;
    }

    &__title {
      font-size: 48px;

      margin-bottom: 100px;
    }

    &__subtitle {
      font-size: 26px;
      line-height: 1.15;
    }

    &__text {
      font-size: 14px;
      line-height: 1.76;
    }

    & .button {
      margin-top: 60px;
    }
  }

  @media screen and (min-width: $desktop-size) {
    padding-top: 125px;

    background-image: url(./img/desktop/tradition-bg.png);
    background-position: bottom 0 center;
    background-repeat: no-repeat;

    & .container {
      background-image: url(./img/desktop/tradition-bg-cow.png);
      background-position: top 170 left 0;
      padding-bottom: 40px;
    }

    &__text-container {
      margin-left: 590px;
    }

    &__title {
      font-size: 58px;

      margin-bottom: 105px;
    }

    &__subtitle {
      font-size: 30px;
      line-height: 1.13;
    }

    &__text {
      line-height: 1.94;

      &--black {
        font-size: 16px;
        line-height: 1.76;
      }
    }

    & .button {
      margin-top: 45px;
    }
  }
}
