<!-- kate -->
<section id="made" class="statistics">
  <h2 class="visually-hidden">statistics</h2>
  <ul class="statistics__list">
    <li class="statistics__item">
      <svg width="50" height="50">
        <use class="statistics-icon" href="#"></use>
      </svg>
      <h3 class="statistics__title">721</h3>
      <p class="statistics__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>

    <li class="statistics__item">
      <svg width="50" height="50">
        <use class="statistics-icon" href="#"></use>
      </svg>
      <h3 class="statistics__title">16kg</h3>
      <p class="statistics__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>

    <li class="statistics__item">
      <svg width="50" height="50">
        <use class="statistics-icon" href="#"></use>
      </svg>
      <h3 class="statistics__title">84</h3>
      <p class="statistics__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
    </li>
  </ul>
</section>
