.container {
  max-width: $mobile-size;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $tablet-size) {
    max-width: 740px;
    padding-left: 35px;
    padding-right: 35px;
  }

  @media screen and (min-width: $desktop-size) {
    max-width: 1090px;
  }
}
