$main-color: #d41443;
$secondary-color: #ffa5ba;
$light-text-color: #fff;
$dark-text-color: #000;
$grey-text-color: #907e82;
$pink-background-color: #ffb8ca;
$cream-background-color: #f0d1a5;
$green-background-color: #c2e297;
$light-background-color: #fff5f6;
$menu-background-color: #e17992;
$footer-horizontal-line-color: #e1e1e1;
$hover-pink-background-color: #c7133e;
$hover-background-color: #ecebeb;
$default-color-social: #fea5bb;

$font-primary: "Titan One";
$font-secondary: "DM Sans";

$mobile-size: 320px;
$tablet-size: 768px;
$desktop-size: 1200px;
$mobile-size-block: 767px;
$tablet-size-block: 1199px;

$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
