<section class="galery">
  <div class="container">
    <h2 class="visually-hidden">Galery</h2>
    <ul class="galery__list">
      <li class="galery__item"><img src="./img/common/galery-1.jpg" alt="" /></li>
      <li class="galery__item"><img src="./img/common/galery-2.jpg" alt="" /></li>
      <li class="galery__item"><img src="./img/common/galery-3.jpg" alt="" /></li>
      <li class="galery__item"><img src="./img/common/galery-4.jpg" alt="" /></li>
      <li class="galery__item"><img src="./img/common/galery-5.jpg" alt="" /></li>
      <li class="galery__item"><img src="./img/common/galery-6.jpg" alt="" /></li>
      <li class="galery__item"><img src="./img/common/galery-7.jpg" alt="" /></li>
      <li class="galery__item"><img src="./img/common/galery-8.jpg" alt="" /></li>
      <li class="galery__item"><img src="./img/common/galery-9.jpg" alt="" /></li>
      <li class="galery__item"><img src="./img/common/galery-10.jpg" alt="" /></li>
    </ul>
  </div>
</section>
