<section class="galery">
  <img src="#" alt="" class="galery__img--first" />
  <img src="#" alt="" class="galery__img--second" />
  <img src="#" alt="" class="galery__img--third" />
  <img src="#" alt="" class="galery__img--first" />
  <img src="#" alt="" class="galery__img--fourth" />
  <img src="#" alt="" class="galery__img--fifth" />
  <img src="#" alt="" class="galery__img--sixth" />
  <img src="#" alt="" class="galery__img--seventh" />
  <img src="#" alt="" class="galery__img--eighth" />
  <img src="#" alt="" class="galery__img--ninth" />
  <img src="#" alt="" class="galery__img--tenth" />
</section>
