.galery {
	$width-image: 38.286px;

	&__container {
		margin-bottom: 126px;
	}
	&__list {
		perspective: 200px;
		display: grid;
		height: 122px;
		grid-template-rows: repeat(11, 1fr);
		grid-template-columns: repeat(7, 1fr);
		gap: 2px;
	}

	&__item {
		border-radius: 10%;

		transition-duration: 250ms;
		transform: scale(1);
		height: 3fr;
		width: 1fr;

		&:hover {
			transition-duration: 500ms;
			z-index: 55;
			transform: scale(1.25);
		}
	}

	&__item--first {
		grid-row-start: 4;
		grid-row-end: 7;
		grid-column-start: 1;
		grid-column-end: 2;
	}

	&__item--second {
		grid-row-end: 2;
		grid-row-start: 6;
		align-self: end;

		grid-column-start: 2;
		grid-column-end: 3;
	}

	&__item--third {
		grid-row-start: 6;
		grid-row-end: 9;
		grid-column-start: 2;
		grid-column-end: 3;
	}

	&__item--fourth {
		width: calc($width-image * 2 + 2px);
		height: calc($width-image * 2 + 2px);
		grid-row-start: 1;
		grid-row-end: 8;
		grid-column-start: 3;
		grid-column-end: 6;
	}

	&__item--fifth {
		grid-row-start: 8;
		grid-row-end: 11;
		grid-column-start: 3;
		grid-column-end: 4;
	}

	&__item--sixth {
		align-self: end;
		grid-row-end: 3;
		grid-row-start: 7;
		grid-column-start: 4;
		grid-column-start: 5;
	}

	&__item--seventh {
		grid-row-end: 7;
		grid-row-start: 11;
		grid-column-start: 4;
		grid-column-start: 5;
	}

	&__item--eighth {
		grid-row-end: 5;
		grid-row-start: 2;

		grid-column-start: 6;
		grid-column-end: 7;
	}

	&__item--ninth {
		grid-row-start: 9;
		grid-row-end: 6;
		align-self: end;

		grid-column-start: 6;
		grid-column-end: 7;
	}
	&__item--tenth {
		grid-row-start: 4;
		grid-row-end: 7;
		grid-column-start: 7;
		grid-column-end: 8;
	}
}
