.galery {
	$width-image: 38.286px;
	background: linear-gradient(180deg, $light-background-color 40%, $light-text-color 0%);

	&__container {
		margin-bottom: 126px;
	}
	&__list {
		perspective: 200px;
		display: grid;
		height: 122px;
		grid-template-rows: repeat(11, 1fr);
		grid-template-columns: repeat(7, 1fr);
		gap: 2px;
	}

	&__item {
		border-radius: 10%;

		transition-duration: 250ms;
		transform: scale(1);
		height: 3fr;
		width: 1fr;

		&:hover {
			transition-duration: 500ms;
			z-index: 55;
			transform: scale(1.25);
		}
	}

	&__item {
		&:nth-child(1) {
			grid-row-start: 4;
			grid-row-end: 7;
			grid-column-start: 1;
			grid-column-end: 2;
		}

		&:nth-child(2) {
			grid-row-end: 2;
			grid-row-start: 6;
			align-self: end;
			grid-column-start: 2;
			grid-column-end: 3;
		}

		&:nth-child(3) {
			grid-row-start: 6;
			grid-row-end: 9;
			grid-column-start: 2;
			grid-column-end: 3;
		}

		&:nth-child(4) {
			width: calc($width-image * 2 + 2px);
			height: calc($width-image * 2 + 2px);
			grid-row-start: 1;
			grid-row-end: 8;
			grid-column-start: 3;
			grid-column-end: 6;
		}

		&:nth-child(5) {
			grid-row-start: 8;
			grid-row-end: 11;
			grid-column-start: 3;
			grid-column-end: 4;
		}

		&:nth-child(6) {
			align-self: end;
			grid-row-end: 3;
			grid-row-start: 7;
			grid-column-start: 4;
			grid-column-start: 5;
		}

		&:nth-child(7) {
			grid-row-end: 7;
			grid-row-start: 11;
			grid-column-start: 4;
			grid-column-start: 5;
		}

		&:nth-child(8) {
			grid-row-end: 5;
			grid-row-start: 2;

			grid-column-start: 6;
			grid-column-end: 7;
		}

		&:nth-child(9) {
			grid-row-start: 9;
			grid-row-end: 6;
			align-self: end;
			grid-column-start: 6;
			grid-column-end: 7;
		}

		&:nth-child(10) {
			grid-row-start: 4;
			grid-row-end: 7;
			grid-column-start: 7;
			grid-column-end: 8;
		}
	}
}
