<section class="galery">
  <div class="container galery__container">
    <h2 class="visually-hidden">Galery</h2>
    <img src="./img/galery-1.jpg" alt="" class="galery__img galery__img--first" />
    <img src="./img/galery-2.jpg" alt="" class="galery__img galery__img--second" />
    <img src="./img/galery-3.jpg" alt="" class="galery__img galery__img--third" />
    <img src="./img/galery-4.jpg" alt="" class="galery__img galery__img--fourth" />
    <img src="./img/galery-5.jpg" alt="" class="galery__img galery__img--fifth" />
    <img src="./img/galery-6.jpg" alt="" class="galery__img galery__img--sixth" />
    <img src="./img/galery-7.jpg" alt="" class="galery__img galery__img--seventh" />
    <img src="./img/galery-8.jpg" alt="" class="galery__img galery__img--eighth" />
    <img src="./img/galery-9.jpg" alt="" class="galery__img galery__img--ninth" />
    <img src="./img/galery-10.jpg" alt="" class="galery__img galery__img--tenth" />
  </div>
</section>