.product-card {
	padding: 161px 16px 41px 16px;
	border-radius: 24px;
	position: relative;
	text-align: center;

	@media screen and (min-width: $tablet-size) and (max-width: $desktop-size) {
		padding: 152px 11px 40px 11px;
	}

	@media screen and (min-width: $desktop-size) {
		padding: 163px 45px 50px 45px;
	}

	&__img {
		position: absolute;
		top: -113px;

		@media screen and (min-width: $tablet-size) {
			left: 0;
		}
		@media screen and (min-width: $desktop-size) {
			top: -210px;
		}
	}

	&__title {
		font-family: $font-primary;

		font-size: 20px;
		line-height: 115%;

		letter-spacing: 0.04em;
		text-transform: uppercase;

		color: $light-text-color;

		margin-bottom: 30px;

		@media screen and (min-width: $desktop-size) {
			font-size: 30px;
			margin-bottom: 32px;
		}
	}

	&__ellipsis {
		width: 26px;
		display: flex;
		gap: 4px;

		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;

		@media screen and (min-width: $desktop-size) {
			margin-bottom: 32px;
		}
	}

	&__ellips {
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: $light-text-color;
	}

	&__description {
		margin-bottom: 30px;

		font-family: $font-secondary;
		font-weight: 700;
		font-size: 14px;
		line-height: 152%;
		letter-spacing: 0.04em;
		color: $light-text-color;

		@media screen and (min-width: $tablet-size) and (max-width: $desktop-size) {
			line-height: 176%;
		}
		@media screen and (min-width: $desktop-size) {
			font-size: 16px;
			margin-bottom: 62px;
		}
	}

	&__link {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: $light-text-color;
	}

	&__right-arrow {
		fill: $main-color;
	}
}
