<!-- andrew -->
<footer class="footer">
	<div class="container footer__container">
		<div class="sign-section footer__sign-section ">
			<p class="footer__sign sign">homemade ice cream made</p>
			<h2 class="footer__title title">with passion</h2>
		</div>
		<ul class="social footer__social">
			<li class="social__item">
				<svg class="social__icon" width="32px" height="32px">
					<use href="./img/svg/symbol-defs.svg#icon-github"></use>
				</svg>
			</li>
			<li class="social__item">
				<svg class="social__icon" width="32px" height="32px">
					<use href="./img/svg/symbol-defs.svg#icon-telegram"></use>
				</svg>
			</li>
			<li class="social__item">
				<svg class="social__icon" width="32px" height="32px">
					<use href="./img/svg/symbol-defs.svg#icon-facebook"></use>
				</svg>
			</li>
		</ul>
		<p class="footer__contacts">
			Feel free to contact <a href="tel:+610383766284">+61 (0) 383 766 284</a>
		</p>
		<div class="footer__horizontal-line"></div>

		<p class="footer__copyright">
			&#xa9; 2019 - IceCream.<br>
			All Rights Reserved.
		</p>
	</div>


</footer>