<!-- andrew -->
<footer class="footer">
	<p class="footer__sign sign">100% natural</p>
	<h2 class="footer__title title">products</h2>
	<ul class="social footer__social">
		<li class="social__item">
			<svg class="social__icon">
				<use>`</use>
			</svg>
		</li>
		<li class="social__item">
			<svg class="social__icon">
				<use></use>
			</svg>
		</li>
		<li class="social__item">
			<svg class="social__icon">
				<use></use>
			</svg>
		</li>
	</ul>
	<p class="footer__contacts">
		Feel free to contact <a href="tel:+610383766284">+61 (0) 383 766 284</a></span>
	</p>
	<p class="footer__copyright">
		© 2019 - IceCream.<br>
		All Rights Reserved.
	</p>


</footer>