<!-- kate -->
<section id="contact" class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <h3 class="contacts__place contacts__place--orange">cafe</h3>
        <h4 class="contacts__city">Chicago</h4>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="schedule">
          <li class="schedule__item">
            <p class="schedule__day">Monday - Friday</p>
            <p class="schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__day">Saturday - Sunday</p>
            <p class="schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__info">
          <li class="contacts__phone"><a>+61(0) 383 766 284</a></li>
          <li class="contacts__email"><a>noreply@envato.com</a></li>
        </ul>
      </li>

      <li class="contacts__item">
        <h3 class="contacts__place contacts__place--green">foodtruck</h3>
        <h4 class="contacts__city">Los Angeles</h4>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="schedule">
          <li class="schedule__item">
            <p class="schedule__day">Monday - Friday</p>
            <p class="schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__day">Saturday - Sunday</p>
            <p class="schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__info">
          <li class="contacts__phone"><a>+61(0) 383 766 284</a></li>
          <li class="contacts__email"><a>noreply@envato.com</a></li>
        </ul>
      </li>

      <li class="contacts__item">
        <h3 class="contacts__place contacts__place--orange">cafe</h3>
        <h4 class="contacts__city">New York</h4>
        <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="schedule">
          <li class="schedule__item">
            <p class="schedule__day">Monday - Friday</p>
            <p class="schedule__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="schedule__item">
            <p class="schedule__day">Saturday - Sunday</p>
            <p class="schedule__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__info">
          <li class="contacts__phone"><a>+61(0) 383 766 284</a></li>
          <li class="contacts__email"><a>noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="container">
    <ul class="options">
      <li class="options__locations">
        <button class="button">Our Locations</button>
      </li>
      <li class="options__franchise">
        <button class="button">Franchise</button>
      </li>
    </ul>
  </div>
</section>
