.contacts {
  background: linear-gradient(180deg, $light-text-color 6%, $light-background-color 0%);

  @media screen and (min-width: $tablet-size) {
    background: linear-gradient(180deg, $light-text-color 9%, $light-background-color 0%);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 55px;

    @media screen and (min-width: $tablet-size) {
      flex-direction: row;
      margin-bottom: 80px;
    }
  }

  &__item {
    background-color: $light-text-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 20px;
    width: 220px;

    @media screen and (min-width: $tablet-size) {
      padding: 50px 30px;
    }
  }

  &__place {
    @extend %title-text;
    color: $light-text-color;
    background-color: $cream-background-color;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 25px;
    display: inline-block;
    margin-bottom: 25px;

    &--green {
      background-color: $green-background-color;
    }

    @media screen and (min-width: $tablet-size) {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }

  &__city {
    @extend %title-text;
    margin-bottom: 10px;

    @media screen and (min-width: $tablet-size) {
      margin-bottom: 15px;
    }
  }

  &__text {
    @extend %usual-text;
    @extend %divider;
  }

  &__info {
    @extend %usual-text;

    @media screen and (min-width: $tablet-size) {
      line-height: 1.83;
    }
  }
}

%divider {
  padding-bottom: 25px;
  border-bottom: 1px solid $footer-horizontal-line-color;
  margin-bottom: 25px;

  @media screen and (min-width: $tablet-size) {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}

%usual-text {
  color: $grey-text-color;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.5;

  @media screen and (min-width: $tablet-size) {
    font-size: 14px;
    line-height: 1.66;
  }
}

%title-text {
  font-family: $font-secondary;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.86;
  letter-spacing: 0.04;

  @media screen and (min-width: $tablet-size) {
    font-size: 14px;
  }
}

.schedule {
  @extend %divider;

  &__item:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: $tablet-size) {
      margin-bottom: 15px;
    }
  }

  &__day {
    @extend %title-text;
  }

  &__time {
    @extend %title-text;
    color: $secondary-color;
  }
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding-bottom: 115px;

  @media screen and (min-width: $tablet-size) {
    flex-direction: row;
    gap: 15px;
    padding-bottom: 160px;
  }
}
