<!-- kate -->
<section>
    <h2 class="visually-hidden">Contacts</h2>
    <ul>
    <li>
        <h3>cafe</h3>
        <h4>Chicago</h4>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul>
        <li>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
        </li>
        <li>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
        </li>
        <ul>
        <li><a>+61(0) 383 766 284</a></li>
        <li><a>noreply@envato.com</a></li>
    </li>
    <li>
        <h3>foodtruck</h3>
        <h4>Los Angeles</h4>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul>
        <li>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
        </li>
        <li>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
        </li>
        <ul>
        <li><a>+61(0) 383 766 284</a></li>
        <li><a>noreply@envato.com</a></li>
    </li>
    <li>
        <h3>cafe</h3>
        <h4>New York</h4>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul>
        <li>
            <p>Monday - Friday</p>
            <p>06:00 AM - 10:00 PM</p>
        </li>
        <li>
            <p>Saturday - Sunday</p>
            <p>08:00 AM - 16:00 PM</p>
        </li>
        <ul>
        <li><a>+61(0) 383 766 284</a></li>
        <li><a>noreply@envato.com</a></li>
    </li>
</section>

<section>
<ul>
    <li><a>Our Locations</a></li>
    <li><a>Franchise</a></li>
    <!-- Добавить СВГ стрелочки -->
</section>